---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

 

  h1, h2, h3, h4 {
    margin-bottom: 1px;
    margin-top: 20px;
    letter-spacing: 2.5px;
  }
  
 
  .post-header h1{
    font-size: 2em;
    margin-bottom: -20px;
    letter-spacing: 5px;
   }


   .post-title.center-heading{
    text-align: center;
  }
   
  .social-media-list {
    text-align: left;
    padding-left: 0;  /* Remove default padding if any */
    margin-left: 0;   /* Remove default margin if any */

  }